/* Table of Contents

1. resets - reset browser's defaults
2. page level styles
3. typography
4. utility styles
5. header and top navigation
6. program navigation
7. homepage content
8. program pages
9. media queries for larger viewports

*/

/* ************** 1.resets ************ */

*{
    margin: 0;
    padding:0;
    border: 0;
}

/* 2. Page level styles */

body{
    font-family: sans-serif;
    line-height: 1.5em;
    margin: 1rem;  
}

#wrapper{
    max-width: 1200px;
    margin:0 auto;
}

input{
    border:solid 1px black;
    padding: 3px;
}

/* 3. Tpography */
p, h1, h2, h3, h4{
    margin-bottom: 1em;
}
h1, h2, h3, h4{
    font-weight: bold;
}
h1{
    font-size: 1.5rem;
    line-height: 1em;
}


/* 4. Utilities */

.flex-containter{
    display:flex;
    justify-content: space-between;
}

.larger-text{
    font-size: larger;
}

.img-responsive{
    width: 100%;
}

.float-right{
    float: right;
}

/* ************** 5. header and top navigation ************ */

header{
ion: relative;
}

#top-menu{
        display:none;
        padding: 0.5em;
        border:solid 1px black;
        background-color: white;
        clear: right;
        position: absolute;
        right: 0;
        top: 28px;
}

#top menu ul{
    list-style-type: none;
}

.material-symbols-outlined{
    font-size: 36px;
}

.show-menu{
    background-color: none;
    border: none;
}
/* ************** 6.program navigation ************ */

nav ul{
    list-style-type: none;
}

li.dropdown{
    border-bottom: solid 1px black;
}

li.dropdown ul{
    display: none;
}

li.dropdown:hover ul{
    display: block;
}

.dropdown a{
    display: block;
    padding: 5px;
    color: black;
    text-decoration: none;
}

.dropdown li a{
    color: gray;
}

/* ************** 7. homepage content ************ */

.banner{
    padding: 6em 2em;
    background-image: url(###);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner a{
    color: white;
    text-decoration: none;
    font-size: larger;
    text-shadow: 2px 2px 2px black;
    background-color: rgba(0,0,0.5);
}

/* ************** 8. program pages ************ */

/* ************** 9. media queries for larger viewports ************ */

.search-programs{
    min-height: 8em;
    border:solid 1px gray;
    border-radius: 10px;
    padding: 1em;
    margin-bottom: 1em;
}

.hero-banner{
    min-height: 12em;
    background-color: teal;
    padding: 1em;
    margin-bottom: 1em;
}

.events img{
    width: 100%;
}


@media (min-width: 768px) {

    .program-nav ul{
        display: flex;
        justify-content: space-between;
    }

    .program-nav li{
        width: 30%;
    }
    
    .show-menu{
        display: none;
    }
    .menu{
        display: flex;
    }

    .menu li{
        display: inline;
        margin-right: 2em;
    }

    .layout{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-column-gap: 1em;
    }
}

