body{
    background-color: darkgray;
}
#wrapper {
width: 1200px;
margin-left: auto;
margin-right: auto;
background-color: white;
padding: 1em;
}

header{
    height: 200px;
    background-color: black;
    background-image: url("images/cover\ art.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 66%;
    padding-bottom: 10em; 
   /*background:url("images/cover\ art.png") no-repeat top left
/66%; */
}
.heading{
    color: white;
    text-align: center;
    width: 30%;
    padding-top: 2em;
    padding-bottom: none;
}
.banner-text{
    width: 30%;
    color: white;
    text-align: left;
    padding: 1em;
}
.btn{
    display: block;
    background-color: darkred; 
    width: 5em;
    color: white;
    padding-top: none;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}